:root{
  --black: black;
  --white: white;
  --couleur-principale: #a7029a;
  --couleur-secondaire: darkgray;

  --degrade-principal: linear-gradient(36deg, rgba(167, 2, 154, 0.7) 0%, rgba(167, 2, 154, 0) 100%);

}